In [1]:
import pandas as pd
import datetime 
from os import listdir
from os.path import isfile, join
import glob
import re

#df = pd.read_csv("pew-raw.csv")
#df

In [ ]:
formatted_df = pd.melt(df,
                      ["religion"],
                      var_name="income",
                      value_name="freq")
formatted_df = formatted_df.sort_values(by=["religion"])
formatted_df.head(10)

In [ ]:
df = pd.read_csv("billboard.csv", encoding="mac_latin2")

In [ ]:
id_vars = ["year",
          "artist.inverted",
          "track",
          "time",
          "genre",
          "date.entered",
          "date.peaked"]

df = pd.melt(df, id_vars=id_vars, var_name="week", value_name="rank")

df["week"] = df['week'].str.extract('(\d+)', expand=False).astype(int)
df["rank"]=df["rank"].astype(int)

df = df.dropna()

df['date'] = pd.to_datetime(df['date.entered']) + pd.to_timedelta(
df['week'], unit='w') - pd.DateOffset(weeks=1)

df = df[["year",
        "artist.inverted",
        "track",
        "time",
        "genre",
        "week",
        "rank",
        "date"]]
df = df.sort_values(ascending=True, by=["year", "artist.inverted", "track", "week", "rank"])


billboard = df

df.head(10)

In [ ]:
id_vars = ["year",
          "artist.inverted",
          "track",
          "time",
          "genre",
          "date.entered",
          "date.peaked"]

df = pd.melt(df, id_vars=id_vars, var_name="week", value_name="rank")

In [ ]:
df["week"] = df['week'].str.extract('(\d+)', expand=False).astype(int)
#df["rank"] = df["rank"].astype(int)

df = df.dropna()
#df.sort_values(ascending=True, by=["year", "artist.inverted", "track", "week", "rank"])

In [ ]:
df["rank"] = df['rank'].astype(int)

In [ ]:
df.dropna()

In [ ]:
df['date'] = pd.to_datetime(df['date.entered']) + pd.to_timedelta(df['week'], unit="w") - pd.DateOffset(weeks=1)

In [ ]:
df = df[["year",
        "artist.inverted",
        "track",
        "time",
        "genre",
        "week",
        "rank",
        "date"]]
df = df.sort_values(ascending=True, by=["year", "artist.inverted", "track", "week", "rank"])

billboard = df
df.head(10)

In [ ]:
songs_cols = ["year", "artist.inverted", "track", "time", "genre"]
songs = billboard[songs_cols].drop_duplicates()
songs = songs.reset_index(drop=True)
songs["song_id"] = songs.index
songs.head(10)

In [ ]:
ranks = pd.merge(billboard, songs, on=["year", "artist.inverted", "track", "time", "genre"])
ranks = ranks[["song_id", "date", "rank"]]
ranks.head(10)

In [ ]:
df = pd.read_csv("tb-raw.csv")
df

In [ ]:
df = pd.melt(df, id_vars=["country", "year"], value_name="cases", var_name="sex_and_age")

In [ ]:
tmp_df = df["sex_and_age"].str.extract("(\D)(\d+)(\d{2})")

In [ ]:
tmp_df.columns = ["sex", "age_lower", "age_upper"]

In [ ]:
tmp_df["age"]= tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

In [ ]:
df = pd.concat([df, tmp_df], axis=1)
df = df.drop(['sex_and_age', "age_lower", "age_upper"], axis=1)

In [ ]:
df = df.dropna()

In [ ]:
df = df.sort_values(ascending=True, by=["country", "year", "sex", "age"])
df.head(10)

In [2]:
df = pd.read_csv("weather-raw.csv")
df

         id  year  month element  d1    d2    d3  d4    d5  d6  d7  d8
0   MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
1   MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN
2  MX17004   2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN NaN
3   MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN NaN
4   MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN NaN
5   MX17004  2010      3    tmin NaN   NaN   NaN NaN  14.2 NaN NaN NaN
6   MX17004  2010      4    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
7   MX17004  2010      4    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN
8   MX17004  2010      5    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
9   MX17004  2010      5    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN

In [3]:
df = pd.melt(df, id_vars=["id", "month", "year", "element"], value_name="temp", var_name="day_raw")
df["day"] = df["day_raw"].str.extract("d(\d+)", expand=False)

In [4]:
df["id"] = "MX17004"

In [5]:
df[["year","month","day"]] = df[["year","month","day"]].apply(lambda x: pd.to_numeric(x, errors='ignore'))

In [6]:
def create_date_from_year_month_day(row):
    return datetime.datetime(year=row["year"], month=int(row["month"]), day=row["day"])

In [7]:
df["date"] = df.apply(lambda row: create_date_from_year_month_day(row), axis=1)

In [8]:
df = df.drop(['year', "month", "day", "day_raw"], axis=1)
df.dropna()

         id element  temp       date
12  MX17004    tmax  27.3 2010-02-02
13  MX17004    tmin  14.4 2010-02-02
22  MX17004    tmax  24.1 2010-02-03
23  MX17004    tmin  14.4 2010-02-03
44  MX17004    tmax  32.1 2010-03-05
45  MX17004    tmin  14.2 2010-03-05

In [16]:
df = df.pivot_table(index=["id", "date"], columns="element",values="temp")

In [18]:
df.reset_index(drop=False, inplace=True)
df.dropna()

element  index       id       date  tmax  tmin
9            9  MX17004 2010-02-02  27.3  14.4
10          10  MX17004 2010-02-03  24.1  14.4
20          20  MX17004 2010-03-05  32.1  14.2